{% extends 'estore/main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <style>
        h1 {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
{% block content %}
<h1>测试Store</h1>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/index1.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Details</a>
                <h4 style="display: inline-block; float: right">￡20</h4>

            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/index1.jpg' %}">
            <div class="box-element product">

                <h6><strong><p>{{ name }}</p></strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Details</a>
                <h4 style="display: inline-block; float: right">￡{{price}}</h4>


            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/index1.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Details</a>
                <h4 style="display: inline-block; float: right">￡20</h4>

            </div>
        </div>

    </div>
{% endblock content %}
</body>

</html>