{% extends 'estore/main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <style>
        h1 {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
{% block content %}
<h1>测试Store</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <h6><p>Product Code:  {{ product.product_id }}</p></h6>

                <button data-product={{ product.id }} data-action="add"class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Details</a>
                <h4 style="display: inline-block; float: right">£ {{ product.price|floatformat:2 }}</h4>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
</body>

</html>